_ide_helper.php
.env
.env.backup
.idea/
.phpstorm.meta.php
.phpunit.result.cache
.phpunit.cache/
*.pem
/node_modules
/public/hot
/public/storage
/public/build
/public/build/manifest.json
/ssl/
/storage/*.key
/vendor
cert.pem
chain.pem
docker-compose.override.yml
fullchain.pem
Homestead.json
Homestead.yaml
nohup.out
npm-debug.log
public/test/*
storage/fonts/*
wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
yarn-error.log
.local/share/applications/mimeapps.list
@tmp/*
.npm/*
_ide_helper_models.php
storage/mailpit/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 
