/node_modules
/public/hot
/public/storage
/storage/*.key
/ssl/

/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.pem
cert.pem
chain.pem
fullchain.pem
nohup.out
wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
cert.pem
chain.pem
storage/fonts/*
