_ide_helper.php
.env
.env.backup
.idea/
.phpstorm.meta.php
.phpunit.result.cache
*.pem
/node_modules
/public/hot
/public/storage
/public/build
/public/build/manifest.json
/ssl/
/storage/*.key
/vendor
cert.pem
cert.pem
chain.pem
chain.pem
docker-compose.override.yml
fullchain.pem
Homestead.json
Homestead.yaml
nohup.out
npm-debug.log
public/test/*
storage/fonts/*
wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
yarn-error.log
